/node_modules

*.log*
.env
/config
assets
# dependencies
*.lock
/.pnp
.pnp.js
*webConfig.json

# testing
/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/yarn.lock
*yarn.lock
########
#back

node_modules

*.log*

.env

